<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    title Notes
  body
    include components/modal
    include components/nav
    div.area(role="textbox" aria-multiline="true" spellcheck="true" aria-label="false" contentEditable="true" tabIndex="0")