ul.nav
  li.tooltip.nav__item(data-tooltip="Жирный текст", style="font-weight: bold;") Ж
  li.tooltip.nav__item(data-tooltip="Наклонный текст", style="font-style: italic;") К
  li.tooltip.nav__item(data-tooltip="Подчеркнутй текст", style="text-decoration: underline;") Ч
  li.tooltip.nav__item(data-tooltip="Зачеркнутый текст", style="text-decoration: line-through;") А
  li.nav__item.color__select
    .select__title.tooltip(data-tooltip="Цвет текста") A <div class="down"></div>
    ul.select
      .select__wrapper
  li.tooltip.nav__item(data-tooltip="Размер шрифта")
    i.fas.fa-text-size
  li.nav__item
    .select__title.tooltip(data-tooltip="Шрифт")
      i.fas.fa-font
      .down
    ul.select
      .select__wrapper
        li 8
        li 12
        li 14
        li.selected 15
        li 16
        li 18
        li 20
        li 22
        li 24
        li 26
        li 28
        li 30
        li 32
        li 33
        li 34
        li 38
        li 42
        li 46
        li 50
        li 55
        li 60
        li 65
        li 70
  li.nav__item
    .select__title.tooltip(data-tooltip="Стиль текста")
      i.far.fa-text
      .down
    ul.select
      .select__wrapper
        li.selected Обычный текст
        li: h1 Заголовок 1
        li: h2 Заголовок 2
        li: h3 Заголовок 3
        li: code Программный код
  li.nav__item
    .select__title.tooltip(data-tooltip="Выравнивание")
      i.fas.fa-align-left
      .down
    ul.select
      .select__wrapper
        li.selected <i class="far fa-align-left"></i> По левому
        li <i class="far fa-align-center"></i> По центру
        li <i class="far fa-align-right"></i> По правому
  li.nav__item
    .select__title.tooltip(data-tooltip="Отступ")
      i.fas.fa-outdent
      .down
    ul.select.select__nonselective
      .select__wrapper
        li <i class="far fa-indent"></i> Увеличить отступ слева
        li <i class="far fa-outdent"></i> Уменьшить отступ слева
  li.nav__item
    .select__title.tooltip(data-tooltip="Список")
      i.fas.fa-list-ol
      .down
    ul.select.select__nonselective
      .select__wrapper
        li <i class="fas fa-list-ol"></i> Создать нумерованный список
        li <i class="fas fa-list-ul"></i> Создать ненумерованный список
  li.tooltip.nav__item(data-tooltip="Вставить ссылку")
    i.fas.fa-link
  li.tooltip.nav__item(data-tooltip="Вставить картинку")
    i.fas.fa-images
  li.tooltip.nav__item(data-tooltip="Перевести текст")
    i.fas.fa-language
  li.tooltip.nav__item(data-tooltip="Вставить графити(подпись)")
    i.fas.fa-spray-can
  li.tooltip.nav__item(data-tooltip="Очистить форматирование")
    i.fas.fa-eraser
  li.nav__item
    .select__title.tooltip(data-tooltip="Проверка правописания")
      i.far.fa-spell-check
      .down
    ul.select
      .select__wrapper
        li.selected <i class="far fa-toggle-on"></i> Включить
        li <i class="far fa-toggle-off"></i> Выключить
  li.tooltip.nav__item(data-tooltip="Скопировать код HTML")
    i.far.fa-code