.select
  position: absolute
  top: 35px
  display: none
  left: 0
  border: 1px solid black
  z-index: 9000
  border-radius: 5px
  width: max-content
  max-height: 300px
  overflow-y: auto
  background-color: #fff
  margin: 0
  padding: 0
  list-style-type: none
  li
    padding: 8px 15px
    font-weight: normal
    font-style: normal
    color: $mainFontColor
    transition: .1s linear
    width: 100%
    &:first-child
      border-radius: 5px 5px 0 0
    &:last-child
      border-radius: 0 0 5px 5px
    &:hover
      background-color: $border-light
.selected
  background-color: $border-light
